:root {
  --primary-color-dark: #395a7f;
  --primary-color-medium: #6e9fc1;
  --primary-color-light: #a3cae9;
  --dark-grey: #1e2122;
  --medium-dark-grey: #303436;
  --medium-grey: #acacac;
  --light-grey: #e9ecee;
}

html {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}

h1 {
  font-size: 2em;
}

.add-files {
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  border: 1px solid var(--primary-color-dark);
  display: inline-block;
  cursor: pointer;
  color: var(--light-grey);
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
}
.add-files:hover {
  background-color: var(--dark-grey);
}
.add-files:active {
  position: relative;
  top: 1px;
}

hr {
  margin: 8vw 0;
  width: 100%;
  max-width: 920px;
  height: 2px;
  border: 0;
  background-color: rgb(58, 63, 65);
}

.end-photo-space {
  height: 8vw;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.gallery-image {
  height: auto;
  border: 4px solid var(--medium-dark-grey);
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  cursor: zoom-in;
}

.upload-button {
  align-items: center;
  border-radius: var(--dig-radius__medium, 0);
  -webkit-clip-path: view-box;
  clip-path: view-box;
  display: flex;
  height: var(--_769fa868__private__button-content-height);
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: var(--_a74589b6__private__button-padding-y)
    var(--_9b359937__private__button-padding-x);
  position: relative;
  z-index: 0;
}

.menu-container {
  height: 80px;
  width: 100%;
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: var(--medium-dark-grey); /* #232323; */
  color: #cdcdcd;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: var(--medium-dark-grey);
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: var(--primary-color-light);
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.menu ul {
  list-style: none;
}

.menu li {
  list-style: none;
  padding: 10px 0;
  font-size: 22px;
}

body {
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  left: 0%;
  -webkit-user-select: none;
  user-select: none;
  padding: 30px;
  z-index: 100;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: block;
  position: absolute;
  /* Adjusted to change initial position off-screen to the right */
  width: 300px;
  margin: -100px 0px 0 -200px; /* Adjust right margin instead of left */
  padding: 50px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* Adjusted for initial position off-screen to the right */
  transform-origin: 100% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menu input:checked {
  background-color: red;
}

/* mobile styles */
@media only screen and (max-width: 1150px) {
  .menu-logo {
    position: absolute;
    left: 1.5rem;
    margin-left: -10px;
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-logo {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -10px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  #menu {
    display: none;
  }

  #menuToggle {
    display: none;
  }
  .menu-container {
    display: Flex;
    justify-content: center;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .menu-container input {
    display: none;
  }

  .menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

@media (min-width: 640px) {
  .gallery-image {
    border: 6px solid var(--medium-dark-grey);
  }
}

@media (min-width: 1380px) {
  hr {
    margin: 7rem 0;
  }

  .end-photo-space {
    height: 7vw;
  }
}

h1 {
  font-family: "Poppins", sans-serif, "arial";
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

h4 {
  font-family: "Roboto", sans-serif, "arial";
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  width: 100%;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
  width: 100%;
}

/* .input-narrow {
  width: 293px;
} */

.narrow {
  width: 50%;
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  max-width: 100%;
}

input,
textarea {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
  text-indent: 30px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.email-phone-group {
  flex-direction: row;
  display: flex;
}

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
}

input[type="radio"]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

label + input[type="radio"] + label {
  border-left: solid 3px #675f6b;
  margin-left: -4px;
}

.radio-group {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.submit-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }

  .narrow {
    width: 100%;
  }

  .email-phone-group {
    flex-direction: column;
  }

  .radio-group {
    display: flex;
  }

  label {
    padding: 10px 100px;
  }

  .captcha {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .submit-group {
    flex-direction: column;
  }
}

@media (max-width: 499px) {
  label {
    padding: 10px 30px;
  }
}
